body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
table {
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
}
a {
    color: black;
    text-decoration: underline;
    background-color: #e29ab6;
}
